raspi_monitoring_flow.json
[
    {
        "id": "ac55c6a1a9efc413",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fba68adf.14e13",
        "type": "exec",
        "z": "ac55c6a1a9efc413",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "fa5b499.e176cb8"
            ],
            [],
            []
        ]
    },
    {
        "id": "7c8379de.068868",
        "type": "inject",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "date",
        "x": 304.5,
        "y": 208.25,
        "wires": [
            [
                "fba68adf.14e13",
                "972ece2a.3dbe8"
            ]
        ]
    },
    {
        "id": "fa5b499.e176cb8",
        "type": "function",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "2653a0b0.26d638",
                "28b64a2c.b32116"
            ]
        ]
    },
    {
        "id": "1cf31554.2aaa63",
        "type": "exec",
        "z": "ac55c6a1a9efc413",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 480,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c409cae5.8e4128",
        "type": "exec",
        "z": "ac55c6a1a9efc413",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 491.5,
        "y": 422.25,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "972ece2a.3dbe8",
        "type": "exec",
        "z": "ac55c6a1a9efc413",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "CPU Load",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "b9372186.ed1a5"
            ],
            [],
            []
        ]
    },
    {
        "id": "683a2b05.736204",
        "type": "ui_button",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "ddde7dabeb74e712",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 262,
        "y": 360,
        "wires": [
            [
                "1cf31554.2aaa63"
            ]
        ]
    },
    {
        "id": "38e53dbf.ca594a",
        "type": "ui_button",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "1890881e.83819",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Shutdown",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 270.5,
        "y": 404.25,
        "wires": [
            [
                "c409cae5.8e4128"
            ]
        ]
    },
    {
        "id": "2653a0b0.26d638",
        "type": "ui_gauge",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "1890881e.83819",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "b9372186.ed1a5",
        "type": "ui_gauge",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "1890881e.83819",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Processor",
        "label": "CPU",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "7ca6ecb.7512014",
        "type": "ui_gauge",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "ddde7dabeb74e712",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Disk",
        "label": "GB",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "15",
        "className": "",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "28b64a2c.b32116",
        "type": "ui_chart",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "5f12e9fcb61aeb4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Cpu Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5538d00b5e739f17",
        "type": "ping",
        "z": "ac55c6a1a9efc413",
        "mode": null,
        "name": "GOOGLE",
        "host": "www.google.com",
        "timer": "5",
        "inputs": 0,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "dca86e87f508a65a",
                "fb8cb47cc074058c"
            ]
        ]
    },
    {
        "id": "dca86e87f508a65a",
        "type": "ui_gauge",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "1890881e.83819",
        "order": 4,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Ping Latency ",
        "label": "ms",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb8cb47cc074058c",
        "type": "ui_chart",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "5f12e9fcb61aeb4c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Ping Latency",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b29651d952e73ea4",
        "type": "inject",
        "z": "ac55c6a1a9efc413",
        "name": "5 min tick",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "e389aed238f76aa0",
                "b8a4d30428368f2c",
                "aa329f29b496361d"
            ]
        ]
    },
    {
        "id": "e389aed238f76aa0",
        "type": "exec",
        "z": "ac55c6a1a9efc413",
        "command": "df -m | grep root",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "read_sd_usage",
        "x": 540,
        "y": 520,
        "wires": [
            [
                "1df39e31c2b7e544"
            ],
            [],
            []
        ]
    },
    {
        "id": "1df39e31c2b7e544",
        "type": "function",
        "z": "ac55c6a1a9efc413",
        "name": "convert",
        "func": "var msg1,msg2,msg3;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: Math.round(l[1] / 1000)};\nmsg2 = {topic: 'Free', payload: Math.round(l[3] / 1000)};\nused = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nmsg3 = (msg1 - used)\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 8,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 500,
        "wires": [
            [
                "7ca6ecb.7512014"
            ],
            [
                "a5d7737bb5be715e"
            ],
            []
        ]
    },
    {
        "id": "a5d7737bb5be715e",
        "type": "ui_gauge",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "ddde7dabeb74e712",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Free Disk",
        "label": "GB",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#04ff00"
        ],
        "seg1": "5",
        "seg2": "10",
        "className": "",
        "x": 960,
        "y": 520,
        "wires": []
    },
    {
        "id": "90b05a3007442a55",
        "type": "function",
        "z": "ac55c6a1a9efc413",
        "name": "convert_uptime",
        "func": "var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 600,
        "wires": [
            [
                "3b0864ed96a17a2b"
            ]
        ]
    },
    {
        "id": "3b0864ed96a17a2b",
        "type": "ui_text",
        "z": "ac55c6a1a9efc413",
        "group": "ddde7dabeb74e712",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime",
        "format": "{{ msg.payload }}",
        "layout": "row-spread",
        "className": "",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "b8a4d30428368f2c",
        "type": "Uptime",
        "z": "ac55c6a1a9efc413",
        "name": "Uptime",
        "x": 540,
        "y": 600,
        "wires": [
            [
                "90b05a3007442a55"
            ]
        ]
    },
    {
        "id": "76e9f05373fac2c6",
        "type": "ui_gauge",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "ddde7dabeb74e712",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "RAM usage",
        "label": "%",
        "format": "{{msg.payload.memusage}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "e64b1ddd05cf444c",
        "type": "ui_chart",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "group": "8e72d94d.e2b8c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 960,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "57b58dde937c83b4",
        "type": "function",
        "z": "ac55c6a1a9efc413",
        "name": "extract",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 740,
        "wires": [
            [
                "e64b1ddd05cf444c"
            ]
        ]
    },
    {
        "id": "aa329f29b496361d",
        "type": "Memory",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "x": 560,
        "y": 700,
        "wires": [
            [
                "76e9f05373fac2c6",
                "57b58dde937c83b4"
            ]
        ]
    },
    {
        "id": "fefa0f70e33e18d9",
        "type": "ui_text",
        "z": "ac55c6a1a9efc413",
        "group": "1890881e.83819",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{ msg.payload }}",
        "layout": "row-left",
        "className": "",
        "x": 730,
        "y": 840,
        "wires": []
    },
    {
        "id": "f6b61c2b52d98be6",
        "type": "function",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "func": "var d = new Date();\nvar options = { timeZone: 'Asia/Jakarta', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit` };\nvar _resultDate = d.toLocaleDateString('id', options);\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 820,
        "wires": [
            [
                "fefa0f70e33e18d9"
            ]
        ]
    },
    {
        "id": "8ed3ee07d9630f16",
        "type": "inject",
        "z": "ac55c6a1a9efc413",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 280,
        "y": 820,
        "wires": [
            [
                "f6b61c2b52d98be6"
            ]
        ]
    },
    {
        "id": "ddde7dabeb74e712",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "c3173234.2636e",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1890881e.83819",
        "type": "ui_group",
        "name": "Col1",
        "tab": "c3173234.2636e",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f12e9fcb61aeb4c",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "c3173234.2636e",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e72d94d.e2b8c8",
        "type": "ui_group",
        "name": "Memory",
        "tab": "2248aa46.11d1c6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c3173234.2636e",
        "type": "ui_tab",
        "name": "RPi Control",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "2248aa46.11d1c6",
        "type": "ui_tab",
        "name": "System",
        "icon": "settings",
        "order": 2
    }
]
